@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: #f1f5f9;
  color: #0f172a;
}

.dark body {
  background-color: #0f172a;
  color: #e2e8f0;
}
